{% extends 'base.html' %}

{% block content %}
    <div>
        <h3 style="margin: auto">Конфігурація "{{name}}" була успішно використана!</h3>
        <h3>Конфігурація:</h3>
            <ul>
                <li>Назва: {{name}}</li>
                <li>IP Address: {{ip}}</li>
                <li>UDP Port: {{udp}}</li>
                <li>Community: {{community}}</li>
            </ul>
        <h3>Деталі:</h3>
            <ul>
                <li>Час відправки: {{time}}</li>
                <li>Traps за секунду: {{traps}}</li>
            </ul>
        <h3 style="font-style: initial">{{message}}</h3>
    </div>
{% endblock %}